<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frontend">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.A" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Signup"> </activity>
        <activity android:name=".Login"> </activity>
        <activity android:name=".Teacher_page"> </activity>
        <activity android:name=".CreateClassRoom"> </activity>
        <activity android:name=".InsideClassTeacher"> </activity>
        <activity android:name=".InsideAttendanceTeacher"> </activity>
        <activity android:name=".TakeAttendance"> </activity>
        <activity android:name=".Student_Page"> </activity>
        <activity android:name=".InsideClassStudent"> </activity>
        <activity android:name=".JoinClassRoom"> </activity>





    </application>

</manifest>